:root {
  --color-primary-900: #f2f2fc;
  --color-secundary-100: #fdf9ff;
  --color-terceary-50: #e8dfec;
  --text-color-primary-900: #302e4d;
  --text-color-secundary-700: #504e70;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1 rem = 10px*/
}

body {
  line-height: 1.5;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}


/************** Buscar fallas de desbordamiento *************/
/* *{
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
  max-width: 1200px !important;
  margin: 0 auto !important;
} */
