@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Work+Sans:wght@200;300;500;600;700&display=swap");

:root {
  --color-primary-900: #f2f2fc;
  --color-secundary-100: #fdf9ff;
  --color-terceary-50: #e8dfec;
  --text-color-primary-900: #302e4d;
  --text-color-secundary-700: #504e70;
  --font-body-primary: "Work Sans", sans-serif;
  --font-body-secundary: "Great Vibes", cursive;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /*1 rem = 10px*/
}

html,
body {
  overflow-x: hidden !important;
}

body {
  font-family: var(--font-body-primary);
  line-height: 1.5;

  &.dark {
    --color-primary-900: #151515;
    --color-secundary-100: #222222;
    --color-terceary-50: #393939;
    --text-color-primary-900: #ffffff;
    --text-color-secundary-700: #e9e9e9;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h3 {
  @mixin h3 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-color-primary-900);
  }

  &.hello {
    @include h3;

    span {
      font-family: var(--font-body-secundary);
      font-size: 3.5rem;
      font-weight: 700;
      letter-spacing: 3px;
      color: var(--color-skin);
    }
  }

  &.title {
    @include h3;
    padding-bottom: 3rem;
  }

  &.profession {
    @include h3;
    padding: 1.5rem 0;

    span {
      font-weight: 500;
    }
  }
}

p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 1.6rem;
  font-weight: 500;
  background: var(--color-skin);
  color: white;
  cursor: pointer;
  padding: 1.2rem 3.5rem;
  border: none;
  border-radius: 4rem;
  display: inline-block;
  white-space: nowrap;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.shadow__dark {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.padd-15 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.section {
  position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
  padding: 0 3rem;
  background: var(--color-primary-900);
  opacity: 1;
  transition: all 0.3s ease;

  &.active {
    z-index: 5;
    opacity: 1;
    animation: slideSection 1s ease;
  }

  &.back-section {
    z-index: 3;
  }

  @keyframes slideSection {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  .container {
    padding-top: 6rem;
    padding-bottom: 7rem;
  }
}

.hidden {
  display: none !important;
}

.main__container {
  position: relative;
}



.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}

.section__title {
  flex: 0 0 100%;
  max-width: 100%;
  padding-bottom: 6rem;

  h2 {
    font-size: 4rem;
    color: var(--text-color-primary-900);
    font-weight: 700;
    position: relative;

    &::before {
      content: "";
      height: 0.4rem;
      width: 5rem;
      background: var(--color-skin);
      position: absolute;
      top: 100%;
      left: 0;
    }

    &::after {
      content: "";
      height: 0.4rem;
      width: 2.5rem;
      background: var(--color-skin);
      position: absolute;
      top: 100%;
      left: 0;
      margin-top: 0.5rem;
    }
  }
}

@media (max-width: 1199px) {
  .section {
    left: 0;

    &.open {
      left: 270px
    }
  }

  .section .container {
    padding-top: 7rem;
  }
}

@import "slidebar.scss";
@import "home.scss";
@import "about.scss";
@import "portafolio.scss";
@import "contact.scss";

/************** Buscar fallas de desbordamiento *************/
/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
  max-width: 1440px !important;
  margin: 0 auto !important;
} */