/************************ Slidebar **************************/
.aside {
  width: 27rem;
  background: var(--color-secundary-100);
  padding: 3rem;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 10;
  border-right: 1px solid var(--color-terceary-50);
  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    position: absolute;
    top: 50px;

    a {
      font-family: var(--font-body-secundary);
      font-size: 4rem;
      font-weight: 700;
      color: var(--text-color-primary-900);
      padding: 1rem 2rem;
      letter-spacing: 4px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 2rem;
        height: 2rem;
        border-top: 5px solid var(--color-skin);
        border-right: 5px solid var(--color-skin);
        top: 0;
        right: 0;
      }

      &::before {
        content: "";
        position: absolute;
        width: 2rem;
        height: 2rem;
        border-bottom: 5px solid var(--color-skin);
        border-left: 5px solid var(--color-skin);
        bottom: 0;
        left: 0;
      }
    }
  }

  &__nav {
    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;

      li {
        a {
          font-size: 1.6rem;
          font-weight: 600;
          border-bottom: 1px solid var(--color-terceary-50);
          color: var(--text-color-primary-900);
          padding: 0.5rem 1.5rem;

          i {
            padding-right: 1.5rem;
          }
        }

        .active {
          color: var(--color-skin);
        }
      }
    }
  }

  &__toggle {
    height: 4rem;
    width: 4.5rem;
    border: 1px solid var(--color-terceary-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--color-secundary-100);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    span {
      height: 0.2rem;
      width: 1.8rem;
      background: var(--color-skin);
      display: inline-block;
      position: relative;

      &::before {
        content: "";
        height: 0.2rem;
        width: 1.8rem;
        background: var(--color-skin);
        position: absolute;
        top: -6px;
        left: 0;
      }

      &::after {
        content: "";
        height: 0.2rem;
        width: 1.8rem;
        background: var(--color-skin);
        position: absolute;
        top: 6px;
        left: 0;
      }
    }
  }

  @media (max-width: 1199px) {
    left: -270px;
  }
}
